<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Bluetooth Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- System Settings Permissions -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DroidPadMacOS">

        <!-- Splash Screen - First screen user sees -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DroidPadMacOS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.DroidPadMacOS" />

        <!-- Discoverable/Pairing Activity -->
        <activity
            android:name=".DiscoverableActivity"
            android:exported="false"
            android:theme="@style/Theme.DroidPadMacOS" />

        <!-- Full Screen Trackpad -->
        <activity
            android:name=".FullScreenTrackpadActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.DroidPadMacOS" />

        <!-- Help Activity -->
        <activity
            android:name=".HelpActivity"
            android:exported="false"
            android:label="Help &amp; Guide"
            android:theme="@style/Theme.DroidPadMacOS" />

        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:theme="@style/Theme.DroidPadMacOS" />
    </application>

</manifest>